//font 
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Open+Sans:wght@300&display=swap');
//varibles
$primary-font: 'Changa', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$primary-color:#E51515;
$secondary-color:#14151A;
$data-color:#FFB320;
$commet-color:#08ABBD;
$gray-color:#9f9f9f;
$light-color:#FEFEFE;

/*Utilities */

.bg{
   &-dark{ background-color: $secondary-color;}
   &-light{ background-color: $secondary-color;}

}
.ml{
    &-2{
        margin-left: 2rem;
    }
}