.btn{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background-color: $light-color;
    color: $primary-color;
    letter-spacing: 1px;
    transition: all .5s;

    &:hover{
    background-color: $primary-color;
    color: $light-color;
    
    }
//btn-primary  class
    &-primary{
        background-color: $primary-color;
        color: $light-color;

        &:hover{
            //btn-primary  hover 
            background-color: $light-color;
            color: $primary-color;
        }
    }
}

/*BADGE*/
.badge{
    border: none;
    padding: .2rem 2.4rem;
    font-size: 1.4rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 5rem;
    letter-spacing: .2rem;
    border-radius: 1rem;

    &-tech{
        background-color: $commet-color;
    }
    &-game{
        background-color:$data-color ;
    }

}
/** mixin */

@mixin display-flex ($display,$items,$justify) {
    
    display: $display;
    align-items: $items;
    justify-content: $justify;
}